/* Définition de la police régulière */
@font-face {
  font-family: 'Satoshi';
  src: url('../../public/font/Satoshi-Regular.woff2') format('woff2'),
       url('../../public/font/Satoshi-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* Définition de la police en gras */
@font-face {
  font-family: 'Satoshi';
  src: url('../../public/font/Satoshi-Black.woff2') format('woff2'),
       url('../../public/font/Satoshi-Black.woff') format('woff');
  font-weight: bold; /* ou 700 si besoin */
  font-style: normal;
}


/* ===============GLOBAL=============== */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-image: url(/_next/static/media/bg-hangmn.7a905af7.jpeg);
  background-size: cover;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

section {
  width: 90vw;
  height: 95vh;
  background-color: white;
  border-radius: 30px;
  padding: 2rem;

}

h1 {
  font-family: 'Satoshi', sans-serif;
  font-weight: bold;
  font-size: 2rem;
  text-transform: uppercase;
}

h2, h3 {
  font-family: 'Satoshi', sans-serif;
  font-weight: bold;
  font-size: 2rem;
  text-transform: uppercase;
}

p {
  font-family: 'Satoshi', sans-serif;
  font-size: 1.5rem;
}

.title {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title h1 {
  font-size: 3rem;
}

.dash {
  display: flex;
  flex-direction: row;
  gap: 6px;
}

.dash div {
  width: 25px;
  height: 6px;
  background-color: #1E1E1E;
  border-radius: 50px;
}

/* ===============CARDS=============== */

.theme-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  padding: 2rem;
  align-items: center;
}

.btns-container {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.contour {
  width: 30vw;
  height: 60vh;
  padding: 10px;
  border-radius: 20px;
  border: 6px solid transparent;
  transition: all 0.3s ease;
}

.contour:hover {
  border: 6px solid #50B501;
}

.card {
  background-color: #E8EBD8;
  border-radius: 20px;
  height: 100%;
  cursor: pointer;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.flag {
  width: 50px;
  height: 50px;
}


.statue {
  position: absolute;
  width: 25%;
  transform: translate(0, -18%);
}

.burger {
  position: absolute;
  width: 30%;
}

.name-theme {
  z-index: 2;
  width: 100%;
  height: 25%;
  background-color: white;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ===============GAMEPAGE=============== */

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.game {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.letter_container {
  display: flex;
  gap: 2rem;
  flex-direction: column;
  width: 50%;
}

.keyboard {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: flex-start;
}

.hangman-container {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.letter {
  font-size: 2rem;
  font-weight: bold;
  width: 60px;
  border: transparent;
  background-color: #E8EBD8;
  height: 60px;
  border-radius: 5px;
  cursor: pointer;
  text-transform: uppercase;
}

.letter:hover {
  border: 2px solid #50B501;
  background-color: #E8EBD8;
}

.game-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  max-height: 70%;
}

.word-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.guess-word {
  font-size: 3rem;
}

.hangman-container img {
  width: 300px;
}

.hangman line,
.hangman circle {
  stroke: rgb(255, 255, 255);
  stroke-width: 3;
  fill: transparent;
}

.hangman ellipse {
  fill: rgb(255, 255, 255) ;
}

.hangman {
  position: absolute;
  z-index: 2;
  transform: translate(-5px, 70px);
}

.btns {
  width: 10%;
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.btns button {
  padding: 1rem;
    max-width: 65px;
    background-color: #1E1E1E;
    border: 2px solid transparent;
    border-radius: 100px;
    cursor: pointer;
    display: flex;
    align-items: center;
    transition: all 0.3s ease;
}

.btns button img {
  width: 30px;
  height: 30px;
}

.btns div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btns div p {
  font-size: 1rem;
  font-weight: bold;
}

/* ===============MODAL=============== */

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); 
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10; 
}

.modal {
  background-color: white;
    padding: 20px;
    width: 40%;
    height: 50%;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.modal button {
  width: 130px;
  padding: 1rem;
  background-color: #1E1E1E;
  color: white;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  font-family: 'Satoshi';
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  transition: all 0.3s ease;
}

button:hover {
  background-color: #50B501; 
}

.button-container {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  justify-content: center;
}
